<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../../static/css/layout.css"> -->
    <title>sistema de libros</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
      }

      .welcome-container {
        text-align: center;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        min-height: 100vh;
        width: 99vw;
      }

      h1 {
        color: #333;
        font-size: 2.5em;
        margin-bottom: 20px;
      }

      p {
        color: #666;
        font-size: 1.2em;
        margin-bottom: 30px;
      }

      .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #0056b3;
      }

    </style>
  </head>
  <body>
    <%- include('navBar') %>
    <div class="welcome-container">
      <%- body %>

    </div>
    <%- include('footer') %>
  </body>
</html>
